.top {
                text-align: center;
                color: brown;
                }
.bottom
       {
                 text-align: center;
                 color: blue
           
       } 
.first-paragraph { 
       text-align: left;
       font-size: x-large;
       color: black;
       margin-left: 100px;  

}
.second-paragraph{
       text-align: left;
       font-size: large;
       color:black;
       margin-left: 100px;
}
.image {
       width: 1200px;
       height: 400px;
       margin-left: 100px;
       margin-top: 5px;
}
.body{
       background-color: #D1BCB8;
}